@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000;
  /* 其他色彩... */
}

/* dark 模式 */
[data-theme='dark'] {
  --background: #111111;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.ovhidden {
  overflow: hidden;
}

section {
  flex: 1 0 auto;
  position: relative;
  width: 100%;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
